doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    title Sergey Kuvakin - lafin
    meta(name='viewport', content='width=device-width, minimum-scale=1.0, maximum-scale=1.0')
  body
    .container
      section.profile
        section.profile__avatar
        section.profile__card(itemscope='', itemtype='http://schema.org/Person')
          h1.profile__card__name(itemprop='name') Sergey Kuvakin
          p.profile__card__position(itemprop='jobTitle') Web Software Engineer
          p.profile__card__description(itemprop='description')
            | I enjoy working as a full stack web developer.
            | Currently, I work with JavaScript, HTML5, CSS3, Node.js and popular frameworks.
            | I like participating in startups or creating new tools.
        section.profile__networks
          a.profile__networks__network.profile__networks__network--github(href='https://github.com/lafin', target='_blank', title='github')
          a.profile__networks__network.profile__networks__network--linkedin(href='https://ru.linkedin.com/in/lafin', target='_blank', title='linkedin')
          a.profile__networks__network.profile__networks__network--mail(itemprop='email', href='mailto:kuvakin@gmail.com', target='_blank', title='email')
          a.profile__networks__network.profile__networks__network--skype(href='skype:ru_lafin?userinfo', target='_blank', title='skype')
          a.profile__networks__network.profile__networks__network--pdf(href='Sergey_Kuvakin-Web_Software_Engineer_CV.pdf', target='_blank', title='cv')
